@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #7e7e7e;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
    min-height: 100vh;
}

nav {
    height: 2vh;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    top: 2vh;
    margin-top: 30px;
    margin-bottom: 30px;
}


.logo {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 30px;
    padding-left: 10px;
}

.logo a { text-decoration: none; color:rgb(29, 29, 29); opacity: 0.6;}
.logo a:visited { text-decoration: none; }
.logo a:hover { text-decoration: none; }
.logo a:focus { text-decoration: none; }
.logo a:hover, a:active { text-decoration: none; }

nav .nav-links ul {
    display: flex;
    flex-direction: row;
}

nav .nav-links ul li{
    padding: 0 4px;
    list-style: none;
}

nav .nav-links ul li img{
    transform: scale(0.75);
    opacity: 0.6;
}

input {
    margin-top: 30px;
}

p {
    margin: 0;
    margin-top: 5px;
}